@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
}

:root{
    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    ---fonte-android: 'Android', 'cursive';

}
body{
    text-align: justify;
    background-color: #f7ff8263;
    color: #002807;
    font-family: var(--fonte-padrao);

}
header{
    font-family: var(--fonte-destaque);
}
nav#menuprincipal{
    background: linear-gradient(to bottom, #69E000, #01e0449e);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding: 10px;
    margin: auto;
}
p{
    text-align: center;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border: #69E000;
    padding: 5px;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    transition: color 0.5s ease;
    background-color: #69E000;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:active{
    color: rgb(0, 51, 3);
}
button{
    background-color: #5bc400;
    border: #5bc400;
}
main{
    min-width: 280px;
    max-width: 800px;
}
main h1{
    font-family: var(---fonte-android);}
footer{
    background-color: #5bc400;
    color: black;
    padding: 3px;
    margin: 1px;
}
p#footer{
    margin: 0px;
}