@charset "UTF-8";
/* cabeçalho */
header{
    text-align: center;
    background: linear-gradient(to bottom, #00865788, #9dff00);
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* fim do cabeçalho */
/* conteudo principal */
main{
    font-weight: 900;
    background-color: #00ffee38;
}
main h2{
    color: blue;
    font-weight: 400;
    text-align: center;

}
div{
    text-align: center;
    color: #9dff00;
    font-size: medium;
}
/* fim do conteudo principal */